/* divisões da tela */

.two{
    height: 170vh;
}

.six{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

/* textos */
#titulo_atividades{
	font-size: 2.5em;
}
.nome-atividade{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
    height: 100%;
}
.nome-atividade img{
	max-width: 250px;
    height: auto;
    margin: 10% auto;
}
.texto_atividades_especificas{
	padding-top: 10%;
	color: #2062d4;
    text-align: center;
    margin-bottom: 12%;
}
.infos{
	color: #2062d4;
	text-align: left;
	margin: 0rem;
}

/* telas pequenas */
@media screen and (min-width: 350px){
	.two{
		height: 135vh;
	}
}

/*telas medias - tablet */
@media screen and (min-width: 760px){
	.two{
		height: 120vh;
	}
	.nome-atividade img{
		max-width: 300px;
	}

	.texto_atividades_especificas{
		font-size: 1.4em;
	}
	.texto_atividades_especificas h3{
		font-size: 1.7em;
	}
	.infos{
		font-size: 1.1em;
	}
}

@media screen and (min-width: 1023px){
	.two{
		height: 100vh;
	}
	.nome-atividade img{
		max-width: 350px;
	}

	.texto_atividades_especificas{
		font-size: 1.5em;
	}
	.texto_atividades_especificas h3{
		font-size: 1.8em;
	}
	.infos{
		font-size: 1.2em;
	}
}

/* telas grandes widescreens */
@media screen and (min-width: 1279px){
	.two{
		height: 400vh;
	}
    
    .nome-atividade img{
        max-width: 400px;
    }
	.texto_atividades_especificas{
		padding-top: 2%;
	}

}