
.one{
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /* Alterei o sexto elemento de 90% para 75% paraficar parecido com os trapezios */
    background-color: #20C1D4; 
}
.two{
    height: 320vh;
}
.three{
    height: 230vh;
}
.four{
    height: 200vh;
	margin-top: -44%;
}
.five{
    height: 160vh;
	margin-top: -37%;
}
.six{
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

/* Menu */

.cabecalho{
    background-color:  #20C1D4;
}

.menu-diferente{
	background-color: #fff;
}

.logo-sobre{
	width: 65px; 
	height: 65px; 
	float: left; 
	background: url(../imagens/AntenaLogoS.png) center center/70px no-repeat; 
	font-size: 0px;
}

.bot-menu-sobre{
	font-size: 1em;
	width: 56px; 
	height: 56px; 
	float: right;
	text-decoration-color: #fff; 
	text-align: center; 
	color: #20C1D4; 
	border-radius: 56px; 
	cursor: pointer; 
	background: transparent;
	border: 1px solid #20C1D4;
	margin: 2%;

}

/* Primeira Parte */

#titulo_sobre{
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    font-weight: 500;
}

/* Petianos */

.petianos{
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

.petianos h3{
    margin-top: 15%;
    margin-bottom: 10%;
    color: #20C1D4;
    text-align: right;
    font-size: 1.8em;
    font-weight: 500;
}
.petianos p{
    color: #20C1D4;
    font-size: 1em;
}

.tutora{
	text-align: center;
	padding: 20px 0;
}

.tutora img{
    max-width: 150px;
	height: auto;
}

.tutora p{
	padding-top: 20px;
}

.foto-petiano{
	width: 100%;
    height: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.foto-petiano img{
	max-width: 100px;
    height: auto;
    margin: 2%;
    text-align: center;
}

.foto-petiano p{
	text-align: center;
	padding-top: 10%;
}

.foto-petiano div{
	flex-basis: 140px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.curso, .pet, .contato-sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	height: 100%;
	color: white;
	text-align: center;
}

.curso h3, .pet h3, .contato-sobre h3{
	padding-bottom: 10%;
	font-size: 1.8em;
}


#mapa{
	box-shadow:2px 2px teal;
}

@media screen and (min-width: 350px){
	.two{
		height: 240vh;
		}
	.three{
		height: 185vh;
	}
	.four{
		height: 145vh;
		margin-top: -40%;
	}
	.five{
		height: 140vh;
		margin-top: -32%;
	}
	.six{
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	}

	

}

@media screen and (min-width: 480px){
	.logo-sobre{
		width: 215px; 
		background: url(../imagens/LogoEscritaS.png) center center/215px no-repeat;
	}
	.menu-diferente ul li a, .mud{
		color: #20C1D4;
		border-bottom: none;
	} 
}

@media screen and (min-width: 760px){
	.two{
		height: 150vh;
	}
	.three{
		height: 90vh;
	}
	.four{
		height: 90vh;
		margin-top: -14%;
	}
	.five{
		height: 90vh;
		margin-top: -16%;
	}


	.tutora img{
		max-width: 180px;
	}

	.foto-petiano{
		height: 70%;
	}

	.foto-petiano div{
		flex-basis: 200px;
	}

	.foto-petiano img{
		max-width: 150px;
	}

	.contato-map{
		padding-top: 10%;
	}
}

@media screen and (min-width: 1023px){

	.three, .four, .five{
		height: 70vh;
	}

	.four, .five, .six{
		margin-top: -14%;
	}

}

@media screen and (min-width: 1280px){

    .one{
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /* Alterei o sexto elemento de 90% para 75% paraficar parecido com os trapezios */
    }

    .two{
    	margin-top: -12%;
	    height: 230vh;
    }

    .three{
    	height: 90vh;
	}
	.four{
	    height: 90vh;
		margin-top: -6%;
	}
	.five{
	    height: 90vh;
		margin-top: -6%;
	}

	.six{
	    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	    margin-top: -6%;
	}

    #primeira_parte{
    	padding-bottom: 5%;
    }

    .tutora img{
	    max-width: 200px;
		height: auto;
	}

    .petianos h3{
	    padding-top: 10%;
	    padding-bottom: 5%;
	    margin: 0;
	    color: #20C1D4;
	    text-align: right;
	    font-size: 1.8em;
	    font-weight: 500;
	}

	.petianos p{
	    color: #20C1D4;
	    font-size: 1.3em;
	}

	.foto-petiano{
		width: 100%;
	    height: 50%;
	    margin: 0 auto;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: space-between;

	}

	.foto-petiano div{
		flex-basis: 300px;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    padding-top: 1%;
	}


	.foto-petiano img{
		max-width: 150px;
	    height: auto;
	    margin: 2%;
	    text-align: center;
	}

	.foto-petiano p{
		text-align: center;
		padding-top: 7%;
	}


	/* Terceira parte */

	.curso, .contato-text{
		align-items: flex-start;
		text-align: left;
	}
	.pet{
		align-items: flex-end;
		text-align: right;
	}

	.contato-sobre{
		flex-direction: row;
		justify-content: space-between;
		width: 70%;
	}




	.curso h3, .pet h3, .contato-sobre h3{
		padding-bottom: 3%;
		font-size: 1.8em;
	}


	.contato-map{
		padding-top: 0;
	}
}

